<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>MOHO ADMIN</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/fevicon.png" type="image/png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/custom.css" />
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: coral;
    }


    .dropdown-menunew {
        min-width: 20rem;
        left: 0 px;
    }
</style>

<body class="inner_page tables_page">
    <div class="full_container">
        <div class="inner_container">
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png"
                                    alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="images/layout_img/user_img.jpg"
                                    alt="#" />
                            </div>
                            <div class="user_info">
                                <h6>Thuyen depzai</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">
                        <li><a href="/admin/"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                        </li>
                        <li><a href="/admin/UserManagement"><i class="fa fa-table purple_color2"></i> <span>User
                                    Management</span></a>
                        </li>

                        <li><a href="/admin/ProductManagement"><i class="fa fa-briefcase blue1_color"></i> <span>Product
                                    Management</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="/admin/orderManagement" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-table purple_color2"></i> <span>Order Management</span> <b
                                    class="caret"></b>
                            </a>
                            <ul class="dropdown-menunew">
                                <li><a href="/admin/orderManagement/pending">Chờ xác nhận</a></li>
                                <li><a href="/admin/orderManagement/confirmed">Đã xác nhận</a></li>
                                <li><a href="/admin/orderManagement/delivering">Đang giao</a></li>
                                <li><a href="/admin/orderManagement/delivered">Đã giao</a></li>
                                <li><a href="/admin/orderManagement/cancelled">Đã hủy</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <div id="content">
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                                    class="fa fa-bars"></i></button>

                            <div class="right_topbar">
                                <div class="icon_info">

                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img
                                                    class="img-responsive rounded-circle"
                                                    src="images/layout_img/user_img.jpg" alt="#" /><span
                                                    class="name_user">ADMIN</span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="help.html">Help</a>
                                                <a class="dropdown-item" href="#"><span>Log Out</span> <i
                                                        class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="midde_cont">
                    <div class="container-fluid">
                        <div class="row column_title">
                            <div class="col-md-12">
                                <div class="page_title">
                                    <h2>DANH SÁCH MÀU SẢN PHẨM</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Số thứ tự</th>
                            <th>MÀU SẢN PHẨM</th>
                            <th>SỐ LƯỢNG</th>
                        </tr>
                        <% let cnt=1; %>
                            <% for (const prodetail of productDetails) { %>
                                <tr>
                                    <td>
                                        <%= cnt ++%>
                                    </td>
                                    <td>
                                        <%= prodetail.color%>
                                    </td>
                                    <td>
                                        <%= prodetail.quantity_of_color%>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/admin/getProductDetails/<%=prodetail.product_id%>/<%=prodetail.color%>"
                                            style="margin-right: 10px; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">
                                            Edit
                                        </a>
                                        <form
                                            action="/admin/delete-product/<%=prodetail.product_id%>/<%=prodetail.color%>"
                                            method="POST" style="display: inline;">
                                            <button
                                                style="padding: 10px 20px; background-color: #f44336; color: white; border: none; border-radius: 5px;">
                                                Delete
                                            </button>
                                        </form>
                                    </td>

                                </tr>
                                <% } %>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src=" js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('motasp');
    </script>


</body>

</html>